<section>
    <div class="container mt-5">
        <div class="row">
            
            <div class="col-md-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/content.jpg" alt="Card image cap" style="height: 18rem; width:auto">
                    <div class="card-body">
                        <h5 class="card-title">Content</h5>
                        <p class="card-text"></p>
                        <a href="/admin/viewcontent" class="btn btn-primary">Click</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/worker.png" alt="Card image cap" style="height: 18rem; width:auto">
                    <div class="card-body">
                        <h5 class="card-title">worker</h5>
                        <p class="card-text"></p>
                        <a href="/admin/viewworker" class="btn btn-primary">Click</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mt-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/customer.jpg" alt="Card image cap" style="height: 18rem; width:auto">
                    <div class="card-body">
                        <h5 class="card-title">User</h5>
                        <p class="card-text"></p>
                        <a href="/admin/viewuser" class="btn btn-primary">Cick</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mt-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/admin.png" alt="Card image cap" style="height: 18rem; width:auto">
                    <div class="card-body">
                        <h5 class="card-title">Admins</h5>
                        <p class="card-text"></p>
                        <a href="/admin/viewadmin" class="btn btn-primary">Click</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mt-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/admin.png" alt="Card image cap" style="height: 18rem; width:auto">
                    <div class="card-body">
                        <h5 class="card-title">un verified worker</h5>
                        <p class="card-text"></p>
                        <a href="/admin/unworker" class="btn btn-primary">Click</a>
                    </div>
                </div>
            </div>
             <div class="col-md-5 mt-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/admin.png" alt="Card image cap" style="height: 18rem; width:auto">
                    <div class="card-body">
                        <h5 class="card-title">Messages</h5>
                        <p class="card-text"></p>
                        <a href="/admin/message" class="btn btn-primary">Click</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>