<h1><center>Who are you</center></h1>
<center>
<section>
    <div class="container">
        <div class="row">
           
            <div class="col-md-6">
                <a href="/login">
                <div class="card" style="width: 50rem; height:50rem">
                    <img class="card-img-top" src="/img/user.jpg" alt="Card image cap" style="width: 50rem; height:43rem">
                    <div class="card-body">
                        <h5 class="card-title">Customer</h5>
                        <a href="/login" class="btn btn-primary">Login</a>
                    </div>
                </div></a>
            </div>
            <div class="col-md-6">
                <a href="/worker/login">
                <div class="card" style="width: 50rem; height:50rem">
                    <img class="card-img-top" src="/img/techni.jpg" alt="Card image cap" style="width: 50rem; height:43rem">
                    <div class="card-body">
                        <h5 class="card-title">Technician</h5>
                        
                        <a href="/worker/login" class="btn btn-primary">Login</a>
                    </div></a>
                </div>
            </div>
            

        </div>
    </div>
</section>
</center>