<section>
    <div class="container">
<h2>{{content.Name}}</h2>
<img src="/images/content/{{content._id}}.png" alt="" style="height: 500px;width:500px;">
<p>{{content.Description}}</p> 
</div>
</section>